body {
  font-family: Poppins, 'Noto Sans KR', sans-serif;
  background: #f3f3f3;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.title-text {
  color: #818181;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}


.card {
  background-color: #ffffff;
  margin: 24px auto;
  padding: 24px;
  width: 320px;
}

.author {
  color: #818181;
  font-size: 12px;
  font-weight: 400;
}