/* 시작: 컬러 리스트 */
.card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 48px;
}
.card:hover {
  background: #f5f7fb;
}
.card:active {
  background: #edf0f5;
}

.card .index,
.card .color-hex {
  color: #bfc8da;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.card .index {
  width: 58px;
  flex-shrink: 0;
  margin-right: 42px;
}

.card .mbti {
  color: #464e5e;
  flex-shrink: 0;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  border-radius: 8px;
  background: rgba(178, 189, 204, 0.2);
  padding: 8px;
  margin-right: 25px;
}

.card .arrow {
  height: 0;
  flex-grow: 1;
  border-bottom: 2px dashed #bfc8da;
  position: relative;
}
.card .arrow .arrow-icon {
  position: absolute;
  top: -12px;
  right: -6px;
}
.card .color-board {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 3px solid #e8e8e8;
  background: #9441ff;
  margin: 0 15px;
}

/* 끝: 컬러 리스트 */
@media screen and (max-width: 944px) {
  .card {
    font-size: 16px;
    padding: 18px 16px;
  }

  .card .index {
    width: 37px;
    font-size: 16px;
    margin-right: 16px;
  }

  .card .mbti {
    width: 54px;
    font-size: 16px;
    margin-right: 16px;
  }

  .card .arrow .arrow-icon {
    top: -6px;
    right: -6px;
  }

  .card .color-board {
    font-size: 16px;
    margin-right: 8px;
    margin-left: 16px;
  }

  .card .color-hex {
    font-size: 16px;
    width: 72px;
  }
}
