.container {
  display: flex;
  width: 100%;
  max-width: 865px;
  gap: 40px;
  margin: 80px auto;
}
.container.new {
  max-width: 416px;
  display: block;
}

@media screen and (max-width: 944px) {
  .container {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 24px 16px;
  }
}
