#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 160px;
    height: 58px;
}

#menu {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#menu a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration-line: none;
    color: rgb(88, 89, 91);
}

#siteimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}