/* 시작: main */
.main {
  flex-grow: 1;
}
/* 끝: main */

/* 시작: 새 컬러 등록하기 */
.add-new-color {
  display: flex;
  padding: 24px 48px;
  align-items: center;
  border-radius: 8px;
  border: 2px dashed #dee3ec;

  color: #464e5e;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-new-color:hover {
  border-radius: 8px;
  border: 2px dashed #dee3ec;
  background: #f5f7fb;
  cursor: pointer;
}
/* 끝: 새 컬러 등록하기 */
